<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <display-name>Bermecars</display-name>

    <context-param>
        <description>Ruta donde guardar las imagenes</description>
        <param-name>image-path</param-name>
        <param-value>\Users\jimmy\Desktop\apache-tomcat-9.0.87/webapps/bermecar-pictures</param-value>
    </context-param>
</web-app>